@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
}
img {
  max-width: 100%;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  font-family: inherit;
  padding: 7px 14px;
}
header button {
  background-color: transparent;
  border: none;
  color: #9e9e9e;
  font-size: 14px;
  margin-left: 10px;
}
.container {
  background: #ffffff;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 7px;
  overflow: hidden;
  width: 400px;
}
.fav-container {
  background-color: #607fc0;
  padding: 14px;
  text-align: center;
}
.fav-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.fav-meals li {
  position: relative;
  margin: 5px;
  width: 75px;
}
.fav-meals li .clear {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: -7px;
  font-size: 1.2rem;
}
.fav-meals li:hover .clear {
  opacity: 1;
}
.fav-meals li img {
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  object-fit: cover;
  height: 70px;
  width: 70px;
}
.fav-meals li span {
  font-size: 12px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}
.meal {
  border-radius: 4px;
  box-shadow: 0 0 10px 2px #3333331a;
  margin: 18px;
  overflow: hidden;
}
.meal-header {
  position: relative;
}
.meal-header .random {
  background-color: #ffffff;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  position: absolute;
  padding: 0.25rem 0.5rem;
  top: 14px;
}
.meal-header img {
  object-fit: cover;
  height: 250px;
  width: 100%;
}
.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
}
.meal-body h4 {
  margin: 0;
}
.meal-body .btn-fav {
  background-color: transparent;
  border: none;
  color: #aaa;
  font-size: 15px;
}
.meal-body .btn-fav.active {
  color: #052977;
}
.meal-info-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.meal-info-container.hidden {
  opacity: 0;
  pointer-events: none;
}
.meal-info {
  background-color: #fff;
  max-width: 600px;
  border-radius: 4px;
  padding: 0 28px;
  position: relative;
  width: 100%;
}
.meal-info h1 {
  text-align: center;
}
.meal-info .close-popup {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
